<form id="update-pokedex">
  Trainer Name:<br>
  <input type="text" name="trainer_name" value="{{user.trainer_name}}"><br><br>
  Team:<br>
   <select name="Team">
     {{#each team}}
       <option>{{team_name}}</option>
     {{/each}}
   </select><br>
  <button onclick="updatePokedex({{pokemon.id}})" class="button"> Submit </button>
  <script defer>selectoptions({{pokemon.regional}}, {{pokemon.shiny}}, {{pokemon.special}});</script>
</form>
